/* Variables */
$color-primary: #222;
$footer-grey: #2c3238;
$font-white: rgb(247, 247, 247);
$main-font: "Mulish", sans-serif;
$menu-border: 1px solid #575757;
$form-border: 1px solid $footer-grey;

/* Mixins */
@mixin m-p-remove {
  margin: 0;
  padding: 0;
}

@mixin pt-pb-1em {
  padding-top: 2em;
  padding-bottom: 2em;
}

@mixin grid-center {
  display: grid;
  align-items: center;
}

@mixin flex-container {
  display: flex;
  align-items: center;
}

@mixin margin($t-b, $l-r) {
  margin: $t-b $l-r;
}

/* Global Styles */
* {
  box-sizing: border-box;
}
body {
  @include m-p-remove;
  text-align: center;
  color: $color-primary;
  font: 200 100%/1.4 $main-font;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: $color-primary;
  &:hover {
    font-weight: bold;
  }
}

ul {
  @include m-p-remove;
  list-style: none;
}

img {
  width: 40px;
  height: 40px;
}

/* Header & Nav Styles */
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  letter-spacing: 1px;
  padding-right: 1em;
}

.hamburger-icon {
  width: 25px;
  height: 3px;
  background-color: $color-primary;
  @include margin(3px, 0);
}

header .row {
  @include flex-container;
  justify-content: space-evenly;
  padding: 1.5em 0;
}

.menu-toggle {
  @include flex-container;
  padding: 0;
  p {
    font-size: 0.9em;
    margin-right: 1em;
  }
}

.main-menu {
  position: fixed;
  display: none;
  top: 0;
  right: -200px;
  height: 100vh;
  z-index: 999;
  transition: right 2s cubic-bezier(0.77, 0.2, 0.05, 1);
  ul {
    margin: 0;
    padding-top: 4em;
    min-height: 100vh;
    width: 200px;
    background-color: $footer-grey;
  }
  a {
    display: block;
    padding: 1rem;
    color: $font-white;
    font-size: 1.1em;
  }

  &:target {
    display: block;
    outline: none;
    right: 0;
    box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
    .menu-close {
      position: absolute;
      right: 10px;
      top: 1em;
    }
  }
  .menu-close {
    position: absolute;
    right: 10px;
    top: 1em;
  }
}

/* Search Form Styles */

.short-desc {
  padding: 1em 1.5em;
  line-height: 1.6;
  font-size: 1.4em;
}

form {
  border: $form-border;
  border-radius: 0.5em;
  max-width: 90%;
  @include margin(0, auto);
  padding: 1em 4em;
}

label {
  display: block;
  @include margin(0.5em, 1em);
  font-weight: 400;
}

input,
select,
button {
  margin-bottom: 1em;
  border: $form-border;
  border-radius: 0.25em;
  padding: 0.8em;
  width: 250px;
}

.btn-search {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: none;
  width: 180px;
  @include margin(1em, auto);
  font-size: 1em;
  background-color: #e0f0ff;
  box-shadow: 0.1em 0.1em 0.2em #bbcdd1;
  span {
    margin-left: 0.8em;
  }
}

/* App Info Styles */

.app-info {
  display: grid;
  gap: 2em;
  max-width: 85%;
  @include margin(3em, auto);
  section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    svg {
      margin-right: 1.25em;
    }
  }
}

/* Footer Styles */

.main-footer {
  background-color: $footer-grey;
  color: $font-white;
  font-weight: 300;
  @include pt-pb-1em;
  a,
  span.copy {
    font-weight: 200;
  }
  a {
    color: $font-white;
    font-family: $main-font;
    &:hover {
      text-decoration: underline;
    }
  }
  .contact-info,
  .social-media {
    @include pt-pb-1em;
  }
  .contact-info {
    font-size: 1.1em;
    line-height: 1.7;
    padding-left: 1em;
  }
  span.copy {
    font-size: 0.9em;
  }
}

.footer-grid {
  @include grid-center;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 1em;
  img {
    margin: 0.5em 1em 0.5em 1em;
  }
}

/* Media Queries */

@media (min-width: 768px) {
  h1 {
    font-size: 1.7em;
    padding-left: 1em;
  }

  header {
    @include flex-container;
    justify-content: space-around;
  }
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }

  .main-menu {
    position: static;
    display: block;
    height: 10vh;
  }
  .main-menu ul {
    display: flex;
    justify-content: space-around;
    padding: 1.5em;
    height: auto;
    width: auto;
    background: none;
    overflow: hidden;
  }

  .main-menu li {
    padding-right: 1em;
    font-weight: 300;
    border: none;
  }

  .main-menu a {
    color: $color-primary;
    display: inline;
    &:hover {
      background-color: inherit;
      font-weight: bold;
    }
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
